{"openapi":"3.1.0","info":{"title":"Ambiguous Workspace API","version":"87d96185a0173fc372c8bd1b3da90f20691eeeed","description":"Public REST API for the Ambiguous Workspace. Same surface every client uses — web, desktop, mobile, CLI, and AI agents. Authenticate with Authorization: Bearer <jwt-or-api-key>. REST API major version 1 is selected with the optional API-Version: 1 request header (the default). Responses echo API-Version. Unsupported versions return 400. Additive fields and endpoints may be introduced within a major version; incompatible changes require a new major version. Deprecated operations are marked deprecated in OpenAPI; a scheduled removal must advertise Deprecation and Sunset headers before removal. Rate-limited responses advertise RateLimit-Policy and RateLimit (remaining quota and reset seconds); 429 responses include Retry-After. Email sends accept Idempotency-Key for safe retries; consult the operation's header schema for its scope. A disposable task API sandbox is available at https://app.ambiguous.ai/sandbox with a separate contract at /sandbox/openapi.json and setup at https://ambiguous.ai/sandbox.md. It uses synthetic data and sandbox-only credentials; only its documented subset is supported."},"servers":[{"url":"https://app.ambiguous.ai","description":"Production"},{"url":"https://app.devambi.cc","description":"Staging"},{"url":"http://localhost:3001","description":"Local development"}],"components":{"schemas":{"SignupAgentResponse":{"type":"object","properties":{"api_key":{"type":"string","description":"Agent's API key (prefix `ak_…`). Shown exactly once — store it. Bearer-authenticate every subsequent request with this."},"agent":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"username":{"type":"string","description":"Auto-derived from `agent_display_name`; unique within the workspace."},"display_name":{"type":"string"},"workspace_email":{"type":"string","description":"The agent's inbound email address inside this workspace's domain."}},"required":["id","username","display_name","workspace_email"],"description":"The newly-created agent user. Pair with `api_key` to make authenticated requests."},"workspace":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"slug":{"type":"string","description":"The slug that actually got assigned — may differ from `workspace_slug` in the request if it was taken and the server auto-suggested an alternative."},"domain":{"type":"string","description":"The workspace's email domain (`{slug}.{WORKSPACE_EMAIL_DOMAIN}`)."},"provisional":{"type":"boolean","enum":[true],"description":"Workspace starts provisional. Admin features (invites, billing, more-agent provisioning) are gated until a human claims via the emailed link."}},"required":["id","name","slug","domain","provisional"],"description":"The provisional workspace the agent is working in. Flips to provisional=false on successful claim."},"human":{"type":"object","properties":{"email":{"type":"string","format":"email","description":"Echo of `human_email` from the request."},"claim_token_sent":{"type":"boolean","description":"True if the claim email was dispatched (SES returned a message ID). False on email-delivery failure — the token is still persisted and the URL can be handed to the human out of band. There is no account_id in the response: no account exists yet."}},"required":["email","claim_token_sent"],"description":"The pending human. Represented only by a claim token until they click the emailed link."},"browser_pairing":{"type":"object","properties":{"paired":{"type":"boolean","description":"True when the waiting browser was bound and will continue on its own. False when it was not — the signup still succeeded; only the browser hand-off was lost, and the human finishes through the emailed link instead."},"reason":{"type":["string","null"],"description":"Why the browser was not bound: `pairing_expired` (the code lapsed), `pairing_not_found` (the code names no browser), or `pairing_completion_failed` (the signup landed but the pairing record did not). Null when `paired`."}},"required":["paired","reason"],"description":"Present only when the request carried `browser_session`. A pairing that could not bind never refuses the signup — the rendezvous only decides whether one browser tab auto-advances — so callers read this rather than a non-2xx to learn the browser will not continue. The exception is a code that already bound a different signup, which still returns 409 so a retried command cannot mint a second workspace."}},"required":["api_key","agent","workspace","human"]},"ApiError":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"},"request_id":{"type":"string"}},"required":["error"]},"SignupAgentInput":{"type":"object","properties":{"agent_display_name":{"type":"string","minLength":1,"maxLength":200,"description":"Human-readable name for the agent (e.g. 'Research Bot'). Shown across the workspace UI and in outbound email From: headers."},"human_email":{"type":"string","format":"email","description":"Email of the human accountable for this agent. Receives a claim-token email with two CTAs: claim (become owner of the provisional workspace) or merge (move this agent into an existing workspace they run). No human account is created at signup — the claim token IS the human's representation until they click the link."},"workspace_name":{"type":"string","minLength":1,"maxLength":100,"description":"Display name for the new workspace. Defaults to `{agent_display_name}'s Workspace`."},"workspace_slug":{"type":"string","minLength":3,"maxLength":48,"description":"Requested URL slug. If omitted, the server derives one from `workspace_name` (kebab-cased), falling back to `{agent_display_name}-workspace` when no name is given or the name can't form a valid slug. If the derived or requested slug is taken, the server picks the first available suggestion from suggestAlternativeSlugs() and returns it in the response."},"browser_session":{"type":"string","pattern":"^[0-9A-HJKMNP-TV-Z]{4}-[0-9A-HJKMNP-TV-Z]{4}$/i","description":"Optional, short-lived browser pairing code. It signals the waiting marketing browser after signup; existing clients omit it."}},"required":["agent_display_name","human_email"],"additionalProperties":false},"AgentPairingCreateResponse":{"type":"object","properties":{"status":{"type":"string","enum":["pending"]},"code":{"type":"string","pattern":"^[0-9A-HJKMNP-TV-Z]{4}-[0-9A-HJKMNP-TV-Z]{4}$"},"expires_at":{"type":"string","format":"date-time"}},"required":["status","code","expires_at"],"additionalProperties":false},"AgentPairingStatusResponse":{"type":"object","properties":{"status":{"type":"string","enum":["pending","provisioning","ready","claimed","expired","failed"]},"retry_after_ms":{"type":"integer","exclusiveMinimum":0},"error_code":{"type":"string"}},"required":["status"],"additionalProperties":false},"AgentClaimContextResponse":{"type":"object","properties":{"status":{"type":"string","enum":["ready","claimed","expired"]},"agent":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"display_name":{"type":"string"}},"required":["id","display_name"]},"workspace":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"slug":{"type":"string"}},"required":["id","name","slug"]},"invited_email":{"type":["string","null"],"format":"email"},"email_sent":{"type":"boolean"},"email_failure_code":{"type":["string","null"]}},"required":["status","agent","workspace","invited_email","email_sent","email_failure_code"],"additionalProperties":false},"AgentClaimResendResponse":{"type":"object","properties":{"email_sent":{"type":"boolean","enum":[true]}},"required":["email_sent"],"additionalProperties":false},"AgentClaimIdentityResponse":{"type":"object","properties":{"candidate_token":{"type":"string"},"identity":{"type":"object","properties":{"account_id":{"type":"string","format":"uuid"},"email":{"type":"string","format":"email"},"display_name":{"type":"string"}},"required":["account_id","email","display_name"]},"email_mismatch":{"type":"boolean"},"eligible_workspaces":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"slug":{"type":"string"},"role":{"type":"string","enum":["owner","admin"]}},"required":["id","name","slug","role"]}}},"required":["candidate_token","identity","email_mismatch","eligible_workspaces"],"additionalProperties":false},"AgentClaimCompleteResponse":{"type":"object","properties":{"token":{"type":"string"},"workspace":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"slug":{"type":"string"}},"required":["id","name","slug"]},"action":{"type":"string","enum":["claim","merge"]},"account_id":{"type":"string","format":"uuid"},"workspace_id":{"type":"string","format":"uuid"},"user_id":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["human"]},"login_email":{"type":"string","format":"email"},"primary_email":{"type":["string","null"]},"username":{"type":["string","null"]},"display_name":{"type":"string"},"role":{"$ref":"#/components/schemas/WorkspaceRole"},"needs_workspace_setup":{"type":"boolean","enum":[false]},"reserved_local_parts":{"type":"array","items":{"type":"object","properties":{"user_id":{"type":"string","format":"uuid"},"display_name":{"type":"string"},"requested":{"type":"string"},"assigned":{"type":"string"},"tier":{"type":"string","enum":["hard","admin_overridable"]},"action":{"type":"string","enum":["renamed","kept"]}},"required":["user_id","display_name","requested","assigned","tier","action"]},"description":"Merge only, and empty on a claim: every role address the merge carried and what happened to it, so a rename is never silent."}},"required":["token","workspace","action","account_id","workspace_id","user_id","type","login_email","primary_email","username","display_name","role","needs_workspace_setup","reserved_local_parts"],"additionalProperties":false},"WorkspaceRole":{"type":"string","enum":["owner","admin","member","limited"],"description":"Role granted to the user inside their current workspace. Drives permission gates across modules."},"ClaimTokenStateResponse":{"type":"object","properties":{"status":{"type":"string","enum":["pending","used","invalid"],"description":"Lifecycle state. `pending` = awaiting action; `used` = already claimed or merged; `invalid` = unknown token."},"workspace":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"slug":{"type":"string"}},"required":["id","name","slug"],"description":"The provisional workspace the token unlocks. Null for `invalid`."},"agent_display_name":{"type":["string","null"],"description":"Display name of the agent in the provisional workspace. Null for `invalid`."},"human_email":{"type":["string","null"],"format":"email","description":"The email the token was sent to. Null for `invalid`."},"human_has_account":{"type":"boolean","description":"True if `human_email` already has an account. Lets the claim page render a sign-in CTA (vs a password-create form) for the claim branch, and lets it render the merge option (requires an existing account with workspaces). Always false for `invalid`."},"reserved_local_parts":{"type":"array","items":{"$ref":"#/components/schemas/ReservedLocalPartChoice"},"description":"Names in the provisional workspace that are role addresses of whatever workspace they end up in (postmaster@, support@). The claiming human is the first — and, on a merge, the only — admin this name will ever be in front of, so the page asks before the merge rather than reporting after it. Empty for an ordinary claim and for `used`/`invalid`."}},"required":["status","workspace","agent_display_name","human_email","human_has_account","reserved_local_parts"]},"ReservedLocalPartChoice":{"type":"object","properties":{"user_id":{"type":"string","format":"uuid"},"username":{"type":"string","description":"The local-part the provisional workspace holds."},"display_name":{"type":"string"},"tier":{"type":"string","enum":["hard","admin_overridable"],"description":"`hard` is renamed at the merge whatever anyone says — RFC 2142 requires these to reach a human. `admin_overridable` is the claiming human's call: they are the target workspace's admin, and an admin deliberately granting `support@` is what the provisioning guard allows."}},"required":["user_id","username","display_name","tier"]},"ClaimWorkspaceResponse":{"type":"object","properties":{"token":{"type":"string","description":"Session JWT — the claimant is now signed into the claimed workspace as `owner`."},"workspace":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"slug":{"type":"string"}},"required":["id","name","slug"],"description":"The workspace the claim flipped from provisional to owned. Reflects any `workspace_name` / `workspace_slug` rename applied during claim."},"user":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"username":{"type":"string"},"display_name":{"type":"string"},"email":{"type":"string","format":"email"},"role":{"type":"string","enum":["owner"]}},"required":["id","username","display_name","email","role"],"description":"The human's new user row inside the claimed workspace."}},"required":["token","workspace","user"]},"ClaimWorkspaceConflict":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string","description":"`slug_taken` when the requested `workspace_slug` is already in use. Absent for token-already-used."},"suggestions":{"type":"array","items":{"type":"string"},"description":"Available alternative slugs when `code = slug_taken`. Empty array if none could be generated."}},"required":["error"]},"AppleSignInResponse":{"anyOf":[{"$ref":"#/components/schemas/GoogleNewUserResponse"},{"$ref":"#/components/schemas/MfaChallengeResponse"},{"$ref":"#/components/schemas/WorkspacePickerResponse"},{"$ref":"#/components/schemas/AuthenticatedResponse"}],"description":"Same session branches as Google sign-in: new account, MFA challenge, workspace picker, or authenticated."},"GoogleNewUserResponse":{"type":"object","properties":{"registration_token":{"type":"string","description":"Same shape as the password-flow `/register` ready-response: short-lived JWT for workspace setup."},"email":{"type":"string","format":"email","description":"Echo of the Google-verified email (lowercased)."},"display_name":{"type":"string","description":"Display name from the Google profile."},"needs_workspace_setup":{"type":"boolean","enum":[true],"description":"Always true on this branch. Frontend should navigate to `/setup-workspace`."}},"required":["registration_token","email","display_name","needs_workspace_setup"]},"MfaChallengeResponse":{"type":"object","properties":{"kind":{"type":"string","enum":["mfa_required","mfa_enrollment_required"],"description":"Discriminator. `mfa_required`: send a code to `/api/auth/mfa/verify`. `mfa_enrollment_required`: a workspace this sign-in lands in requires two-step verification, so set it up via `/api/auth/mfa/enroll/start` then `/confirm`."},"mfa_token":{"type":"string","description":"Single-use sign-in challenge. Expires after 5 minutes or 5 attempts."},"expires_at":{"type":"string","format":"date-time","description":"When the challenge expires."}},"required":["kind","mfa_token","expires_at"]},"WorkspacePickerResponse":{"type":"object","properties":{"kind":{"type":"string","enum":["workspace_picker"],"description":"Discriminator. Frontend should render the workspace-picker UI."},"account_id":{"type":"string","format":"uuid","description":"Account ID. Pass back via `/select-workspace` along with the chosen `workspace_id`."},"workspaces":{"type":"array","items":{"$ref":"#/components/schemas/WorkspaceMembership"},"description":"Opaque membership IDs and roles for every workspace this account belongs to. Names and slugs require the picker session token at `/picker-workspaces`, preventing pre-auth inventory disclosure."},"picker_session_token":{"type":"string","description":"Short-lived JWT (5-min TTL, audience: workspace_picker) that authenticates the `/select-workspace` call. Pass as `Authorization: Bearer <token>` or in the request body."}},"required":["kind","account_id","workspaces","picker_session_token"]},"WorkspaceMembership":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Workspace ID. Pass back as `workspace_id` to `/select-workspace`."},"role":{"type":"string","description":"Role this account holds inside the workspace."}},"required":["id","role"]},"AuthenticatedResponse":{"type":"object","properties":{"account_id":{"type":["string","null"],"format":"uuid","description":"Stable account ID for the authenticated human. Null only for agent principals."},"workspace_id":{"type":["string","null"],"format":"uuid","description":"Workspace scope carried by the returned JWT. Null only while workspace setup is still required."},"user_id":{"type":"string","format":"uuid","description":"Resolved `users.id` for the chosen account×workspace pair."},"login_email":{"type":["string","null"],"description":"Account-level login email used to label locally saved human sessions. Null for agents."},"primary_email":{"type":["string","null"],"description":"Best primary email for this user (workspace email > custom email > login email)."},"username":{"type":["string","null"],"description":"Derived workspace local-part (e.g. `phil` if workspace_email is `phil@acme.ambi.cc`)."},"display_name":{"type":"string","description":"User display name."},"type":{"$ref":"#/components/schemas/UserType"},"role":{"allOf":[{"$ref":"#/components/schemas/WorkspaceRole"},{"description":"Role in the workspace scope carried by the returned JWT."}]},"token":{"type":"string","description":"Authentication JWT. Pass via `Authorization: Bearer <token>` for all subsequent API calls."},"workspace_email":{"type":["string","null"],"description":"Computed workspace email or null. Present on `/login` + `/reset-password`; omitted on `/select-workspace`, `/google`, and `/apple` (single-workspace branch)."},"needs_workspace_setup":{"type":"boolean","description":"Present + true when the account has no workspace yet (frontend should redirect to `/setup-workspace`). Omitted otherwise."},"consent_required":{"type":"boolean","enum":[true],"description":"Present when the account must accept the current Terms and Privacy Policy before continuing."},"consent_version":{"type":"string","description":"Current consent version paired with `consent_required`."}},"required":["account_id","workspace_id","user_id","login_email","primary_email","username","display_name","type","role","token"]},"UserType":{"type":"string","enum":["human","agent"],"description":"Account kind."},"RegisterResponse":{"anyOf":[{"$ref":"#/components/schemas/RegisterPendingVerificationResponse"},{"$ref":"#/components/schemas/RegisterReadyResponse"}],"description":"Branch A returns when `REQUIRE_EMAIL_VERIFICATION=true`. Branch B returns when verification is disabled or the account is already verified (re-registration before workspace setup)."},"RegisterPendingVerificationResponse":{"type":"object","properties":{"account_id":{"type":"string","format":"uuid","description":"Newly-created account ID. Use this to call `/resend-verification` if the user never receives the email."},"email":{"type":"string","format":"email","description":"Echo of the registered email."},"display_name":{"type":"string","description":"Echo of the registered display name."},"message":{"type":"string","description":"User-facing message to render in the verify-email-pending screen."},"email_verification_required":{"type":"boolean","enum":[true],"description":"Always true on this branch. Frontend should redirect to `/verify-email-pending`."}},"required":["account_id","email","display_name","message","email_verification_required"]},"RegisterReadyResponse":{"type":"object","properties":{"registration_token":{"type":"string","description":"Short-lived JWT (`type: 'registration'`) that the workspace-creation endpoint exchanges for a workspace + a real auth JWT. See `POST /api/workspaces`."},"email":{"type":"string","format":"email","description":"Echo of the registered email."},"display_name":{"type":"string","description":"Echo of the registered display name."},"needs_workspace_setup":{"type":"boolean","enum":[true],"description":"Always true on this branch. Frontend should navigate to `/setup-workspace`."}},"required":["registration_token","email","display_name","needs_workspace_setup"]},"EntityReferenceMap":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/EntityReferenceResolution"},"description":"Entities referenced by `@{type:id}` tokens in this response, resolved under the requesting principal."},"EntityReferenceResolution":{"oneOf":[{"type":"object","properties":{"resolution":{"type":"string","enum":["ok"]},"entity":{"description":"Per-module preview row for the referenced entity."}},"required":["resolution"]},{"type":"object","properties":{"resolution":{"type":"string","enum":["unavailable"]}},"required":["resolution"]}]},"RegistrationConfigResponse":{"type":"object","properties":{"captcha_required":{"type":"boolean","description":"Whether `POST /api/auth/register` requires a Turnstile `captcha_token` on this deployment."},"captcha_site_key":{"type":["string","null"],"description":"Public Turnstile site key to render the check with; null when this deployment has none."},"captcha_action":{"type":"string","description":"Turnstile `action` the token must be minted for."}},"required":["captcha_required","captcha_site_key","captcha_action"]},"MergeWorkspaceResponse":{"type":"object","properties":{"target_workspace":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"slug":{"type":"string"}},"required":["id","name","slug"],"description":"The workspace the agent was merged into."},"agent":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"username":{"type":"string","description":"Possibly renamed from the provisional workspace's username if it collided with a user already in the target."},"display_name":{"type":"string"}},"required":["id","username","display_name"],"description":"The merged agent's user record in the target workspace. Its existing API key still works."},"reserved_local_parts":{"type":"array","items":{"type":"object","properties":{"user_id":{"type":"string","format":"uuid"},"display_name":{"type":"string"},"requested":{"type":"string","description":"The local-part the provisional workspace held."},"assigned":{"type":"string","description":"What it holds in the target — equal to `requested` when kept."},"tier":{"type":"string","enum":["hard","admin_overridable"]},"action":{"type":"string","enum":["renamed","kept"]}},"required":["user_id","display_name","requested","assigned","tier","action"]},"description":"Every role address the merge carried across and what happened to it. Empty on an ordinary merge. Reported rather than logged because a rename changes an address the agent may already have given out."}},"required":["target_workspace","agent","reserved_local_parts"]},"MfaVerifyResponse":{"anyOf":[{"allOf":[{"$ref":"#/components/schemas/WorkspacePickerResponse"},{"type":"object","properties":{"mfa_recovery_regeneration_required":{"type":"boolean","description":"Present + true when a recovery code was used: generate a new set before continuing."}}}]},{"allOf":[{"$ref":"#/components/schemas/AuthenticatedResponse"},{"type":"object","properties":{"mfa_recovery_regeneration_required":{"type":"boolean","description":"Present + true when a recovery code was used: generate a new set before continuing."}}}]}],"description":"The sign-in the challenge held: a workspace picker or an authenticated session."},"MfaEnrollmentSecretResponse":{"type":"object","properties":{"secret":{"type":"string","description":"Base32 TOTP secret, for manual entry into an authenticator app."},"otpauth_uri":{"type":"string","description":"`otpauth://totp/...` URI for a QR code or a direct link."}},"required":["secret","otpauth_uri"]},"MfaEnrollConfirmResponse":{"anyOf":[{"allOf":[{"$ref":"#/components/schemas/WorkspacePickerResponse"},{"type":"object","properties":{"recovery_codes":{"type":"array","items":{"type":"string"},"description":"Ten single-use recovery codes. Shown once and never retrievable again."}},"required":["recovery_codes"]}]},{"allOf":[{"$ref":"#/components/schemas/AuthenticatedResponse"},{"type":"object","properties":{"recovery_codes":{"type":"array","items":{"type":"string"},"description":"Ten single-use recovery codes. Shown once and never retrievable again."}},"required":["recovery_codes"]}]}],"description":"The completed sign-in plus the new recovery codes."},"GoogleSignInResponse":{"anyOf":[{"$ref":"#/components/schemas/GoogleNewUserResponse"},{"$ref":"#/components/schemas/MfaChallengeResponse"},{"$ref":"#/components/schemas/WorkspacePickerResponse"},{"$ref":"#/components/schemas/AuthenticatedResponse"}],"description":"Four branches: brand-new account → registration_token; existing account holding a second factor, or entering a workspace that requires one → MFA challenge; existing account in multiple workspaces → picker; existing account in 0 or 1 workspaces → authenticated."},"LoginResponse":{"anyOf":[{"$ref":"#/components/schemas/MfaChallengeResponse"},{"$ref":"#/components/schemas/WorkspacePickerResponse"},{"$ref":"#/components/schemas/AuthenticatedResponse"}],"description":"An MFA challenge (the account holds a second factor, or its only workspace requires one), a workspace picker (multi-workspace account), or authenticated (single workspace, or no workspace yet → `needs_workspace_setup: true`)."},"LoginVerificationRequiredResponse":{"type":"object","properties":{"error":{"type":"string","description":"Human-readable error message."},"email_verification_required":{"type":"boolean","enum":[true],"description":"Discriminator. Frontend should redirect to `/verify-email-pending`."},"account_id":{"type":"string","format":"uuid","description":"Account ID. Pass to `/resend-verification` if the user lost the email."}},"required":["error","email_verification_required","account_id"]},"SelectWorkspaceResponse":{"anyOf":[{"$ref":"#/components/schemas/MfaChallengeResponse"},{"$ref":"#/components/schemas/AuthenticatedResponse"}],"description":"Authenticated, or an MFA enrolment challenge when the chosen workspace requires two-step verification and the account has none."},"VerifyEmailResponse":{"type":"object","properties":{"registration_token":{"type":"string","description":"Short-lived JWT. Use `POST /api/workspaces` with this token to create the user's first workspace."},"email":{"type":"string","format":"email","description":"Verified email."},"display_name":{"type":"string","description":"Display name from the account record."},"message":{"type":"string","description":"User-facing success message."},"needs_workspace_setup":{"type":"boolean","description":"True when the account holds no workspace membership yet — frontend navigates to `/setup-workspace`. False when it already belongs to a workspace, in which case the frontend continues to sign-in; a verification link is not a session credential."},"already_verified":{"type":"boolean","description":"True when the email was already verified. Idempotent double-click returns 200 instead of 400."}},"required":["registration_token","email","display_name","message","needs_workspace_setup"]},"MessageResponse":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable confirmation."}},"required":["message"]},"VerifyPhoneResponse":{"type":"object","properties":{"message":{"type":"string"},"phone_last4":{"type":"string","description":"Last 4 digits of the verified phone number — safe to render in UI."}},"required":["message","phone_last4"]},"ResetPasswordResponse":{"anyOf":[{"$ref":"#/components/schemas/MfaChallengeResponse"},{"$ref":"#/components/schemas/WorkspacePickerResponse"},{"$ref":"#/components/schemas/AuthenticatedResponse"}],"description":"Auto-login after a successful reset: same response shape as `/login`. Workspace_picker branch fires for multi-workspace accounts."},"ReconsentResponse":{"type":"object","properties":{"message":{"type":"string"},"consent_version":{"type":"string","description":"The TOS version the user has now consented to."}},"required":["message","consent_version"]},"VerifyExternalEmailResponse":{"type":"object","properties":{"message":{"type":"string"},"email":{"type":"string","format":"email","description":"The email that was just verified."}},"required":["message","email"]},"NativeCodeResponse":{"type":"object","properties":{"code":{"type":"string","description":"One-time UUID code. Single-use; expires 60s after creation. Trade at POST /api/auth/native/exchange."}},"required":["code"]},"NativeExchangeResponse":{"type":"object","properties":{"token":{"type":"string","description":"Authentication JWT."},"display_name":{"type":"string"},"primary_email":{"type":["string","null"]},"email":{"type":["string","null"],"description":"Backward-compat alias for `primary_email`."}},"required":["token"]},"KeyHandoffResponse":{"type":"object","properties":{"code":{"type":"string"},"expires_at":{"type":"string","format":"date-time"},"instructions":{"type":"string","description":"Copy-ready connection prompt for the API key's principal."}},"required":["code","expires_at","instructions"]},"KeyHandoffExchangeResponse":{"type":"object","properties":{"token":{"type":"string"},"display_name":{"type":["string","null"]},"primary_email":{"type":["string","null"]}},"required":["token","display_name","primary_email"]},"AuthBinaryBody":{"type":"string"},"CliLoginResponse":{"anyOf":[{"$ref":"#/components/schemas/MfaChallengeResponse"},{"$ref":"#/components/schemas/CliLoginRedirectResponse"},{"$ref":"#/components/schemas/CliLoginTokenResponse"}],"description":"Discriminated by `port` + `state` presence: provided → redirect; omitted → direct token."},"CliLoginRedirectResponse":{"type":"object","properties":{"redirect":{"type":"string","description":"URL of the form `http://127.0.0.1:<port>/callback?code=<one-time-code>&state=<state>`. The CLI's local server captures this, then exchanges the code via `/cli/exchange`."}},"required":["redirect"]},"CliLoginTokenResponse":{"type":"object","properties":{"token":{"type":"string","description":"Authentication JWT (only returned when `port` + `state` are NOT provided)."},"user_id":{"type":"string","format":"uuid"},"display_name":{"type":"string"},"primary_email":{"type":["string","null"]}},"required":["token","user_id","display_name","primary_email"]},"CliExchangeResponse":{"type":"object","properties":{"token":{"type":"string","description":"Authentication JWT."},"display_name":{"type":"string"},"primary_email":{"type":["string","null"]},"email":{"type":["string","null"],"description":"Backward-compat alias for `primary_email` for old CLI versions."}},"required":["token"]},"WorkspaceUserSummary":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"`users.id`."},"type":{"allOf":[{"$ref":"#/components/schemas/UserType"},{"description":"Account kind. Humans authenticate with email+password or a supported SSO provider; agents authenticate with API keys."}]},"username":{"type":["string","null"]},"custom_email":{"type":["string","null"]},"display_name":{"type":"string"},"avatar_url":{"type":["string","null"]},"primary_email":{"type":["string","null"]},"workspace_email":{"type":["string","null"],"description":"Computed in-workspace email (`<username>@<default-workspace-domain>`). A verified custom domain is used only after an Admin selects it as the workspace default. Null when the user has no username or the workspace can't be resolved. Pickers showing in-workspace identity should prefer this over `primary_email` (which can be a personal external email)."}},"required":["id","type","username","custom_email","display_name","avatar_url","primary_email","workspace_email"],"description":"Public-ish user record returned by the workspace `users` listing — no role, no external emails, no preferences. Powers assignee/mention pickers across modules."},"WorkspaceUsersListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/WorkspaceUserSummary"}},"total":{"type":"integer"},"has_more":{"type":"boolean"}},"required":["data","total","has_more"]},"PendingAgentOnboarding":{"type":"object","properties":{"harness":{"type":["string","null"],"description":"The agent runtime the click came from (`claude-code`, `openclaw`, …), or null when no click identified one or it named one we ship no panel for. Null is the ordinary case, because the step opens for every signup — a marketing arrival is what supplies a label, not what opens the step. Selects which connect instructions open by default; never echoed as raw input."},"declined":{"type":"boolean","description":"True once the person pressed **Skip for now**. The decline is durable — nothing re-opens the step on its own again — but it does not spend the account's one provision, which is why this object stays non-null: the account is still eligible to complete the step from the Home checklist."},"provisioned_agent":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid","description":"`users.id` of the agent this step provisioned."},"display_name":{"type":"string","description":"The agent's display name."},"workspace_email":{"type":"string","description":"The agent's inbound address inside this workspace's domain."}},"required":["id","display_name","workspace_email"],"description":"Non-null once the step has provisioned its agent and the person has not yet pressed **Continue** on the Agent-ready screen. The key is shown once and never re-sent, so a client reaching this state renders the screen for this agent with a mint-a-new-key affordance instead of the spent key. Null before provisioning; the whole object goes null on acknowledgement."}},"required":["harness","declined","provisioned_agent"]},"UserProfile":{"type":"object","properties":{"account_id":{"type":["string","null"],"format":"uuid","description":"Stable account ID. Null only for agent principals."},"id":{"type":"string","format":"uuid","description":"User row ID — `users.id` for this account×workspace pair."},"type":{"allOf":[{"$ref":"#/components/schemas/UserType"},{"description":"Account kind. Humans authenticate with email+password or a supported SSO provider; agents authenticate with API keys."}]},"primary_email":{"type":["string","null"],"description":"Best primary email (workspace email > custom email > login email)."},"login_email":{"type":["string","null"],"description":"Account-level login email. Null for agents."},"email_verified":{"type":["boolean","null"],"description":"Whether the account's login email is verified (`accounts.email_verified`). Null for agents and workspace rows with no account."},"has_password":{"type":["boolean","null"],"description":"Whether the account has a sign-in password set. False for SSO-only accounts, which can set one through the password-reset flow. Null for agents and workspace rows with no account."},"workspace_id":{"type":["string","null"],"format":"uuid","description":"Active workspace ID. Null when the account has no workspace yet (`needs_workspace_setup: true`)."},"workspace_name":{"type":["string","null"],"description":"Active workspace name. Null when the account has no workspace yet."},"workspace_email":{"type":["string","null"],"description":"Derived workspace email. Null when the workspace has no email domain configured."},"username":{"type":["string","null"],"description":"Workspace-derived username (local-part of the workspace email)."},"custom_email":{"type":["string","null"],"description":"Verified custom-domain email used as the From: address when the user picks 'send as custom'."},"default_send_as":{"type":["string","null"],"description":"ID of the alias selected as the default `Send as` address when composing email."},"email_signature":{"type":["string","null"],"description":"Personal email signature, appended to outbound mail."},"meeting_url":{"type":["string","null"],"description":"Personal meeting URL (Zoom, Google Meet, etc.) used by /meet slash command."},"display_name":{"type":"string","description":"Display name."},"avatar_url":{"type":["string","null"],"description":"Proxy URL (`/api/users/:id/avatar?v=…`) or null. See D071 for why this is a proxy URL, not a presigned GCS URL."},"has_seen_welcome_modal":{"type":"boolean","description":"Onboarding flag. Frontend uses this to decide whether to show the first-run modal."},"has_dismissed_onboarding":{"type":"boolean","description":"True when the user has permanently dismissed the Get Started onboarding checklist."},"analytics_opt_out":{"type":"boolean","description":"True when the user has opted out of non-essential analytics and data processing (Art. 21 GDPR)."},"role":{"allOf":[{"$ref":"#/components/schemas/WorkspaceRole"},{"description":"Role in the active workspace."}]},"agent":{"type":["object","null"],"properties":{"kind":{"type":"string","enum":["coworker","agent"],"description":"`coworker` runs the first-party engine; `agent` is a third-party identity."},"manager":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"display_name":{"type":"string"}},"required":["id","display_name"],"description":"The human accountable for this agent. Null when unassigned."}},"required":["kind","manager"],"description":"Agent-specific identity context. Null for human principals."},"is_internal_admin":{"type":"boolean","description":"True when the account's login email is in INTERNAL_ADMIN_EMAILS — gates internal-staff surfaces (the architecture / agents-modules docs sites, /internal/*). Distinct from the workspace `role`; always false for agents."},"can_provision_coworkers":{"type":"boolean","description":"True when this account may provision coworkers (POST /api/coworkers/provision) — internal team, or any caller while COWORKER_PROVISIONING_OPEN. Pre-GA gate; drives the Coworker option in the New agent dialog."},"primary_external_email_id":{"type":["string","null"],"format":"uuid","description":"If set, points at a verified `user_external_emails` row whose email becomes `primary_email`. Null → workspace email is primary."},"needs_workspace_setup":{"type":"boolean","description":"True when `workspace_id` is null. Frontend should redirect to `/setup-workspace`."},"pending_agent_onboarding":{"anyOf":[{"$ref":"#/components/schemas/PendingAgentOnboarding"},{"type":"null"}],"description":"Non-null while this account has not yet spent its one guided create-agent provision. The step opens for EVERY workspace signup, not only for one that carried `intent=invite-agent` — that intent supplies `harness` and nothing else. Read `declined` to tell an untouched step (open `/invite-agent` rather than landing the person on an empty workspace) from a skipped one (do not redirect; the Home checklist is its door). Stays non-null after provisioning, carrying `provisioned_agent`, until `POST /api/identity/onboarding-agent/acknowledge` records that the person left the Agent-ready screen — so a reload lands back on it rather than on an empty workspace with the key unread. Goes null on acknowledgement and cannot re-open after."},"created_at":{"type":["string","null"],"description":"ISO 8601 timestamp of when the user record was created. Used by the frontend to guard time-sensitive onboarding modals (D-GROUPS-067)."},"ws_trace":{"type":"boolean","description":"True when the active workspace is in WS_TRACE_WORKSPACE_IDS — gates the client realtime delivery-trace beacon (`ws.received`). Default false; the trace is inert for every unflagged workspace."}},"required":["account_id","id","type","primary_email","login_email","email_verified","has_password","workspace_id","workspace_name","workspace_email","username","custom_email","default_send_as","email_signature","meeting_url","display_name","avatar_url","has_seen_welcome_modal","has_dismissed_onboarding","analytics_opt_out","role","agent","is_internal_admin","can_provision_coworkers","primary_external_email_id","needs_workspace_setup","pending_agent_onboarding","created_at","ws_trace"]},"UserSummary":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"allOf":[{"$ref":"#/components/schemas/UserType"},{"description":"Account kind. Humans authenticate with email+password or a supported SSO provider; agents authenticate with API keys."}]},"primary_email":{"type":["string","null"]},"username":{"type":["string","null"]},"custom_email":{"type":["string","null"]},"email_signature":{"type":["string","null"]},"meeting_url":{"type":["string","null"]},"display_name":{"type":"string"},"avatar_url":{"type":["string","null"]}},"required":["id","type","primary_email","username","custom_email","email_signature","meeting_url","display_name","avatar_url"],"description":"Compact profile shape returned by `/send-as`, `/avatar` upload, and `/avatar` delete. Excludes workspace + role + external-email fields."},"UploadAvatarInput":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"The avatar image (multipart `file` field): JPEG, PNG, GIF, or WebP, at most 5MB."}},"additionalProperties":false},"MfaStatusResponse":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether the account has a confirmed authenticator."},"confirmed_at":{"type":["string","null"],"format":"date-time","description":"When the current authenticator was confirmed."},"recovery_codes_remaining":{"type":"integer","description":"Unused recovery codes left."},"recovery_regeneration_required":{"type":"boolean","description":"True after a recovery code was used, until a new set is generated."},"required_by_workspace":{"type":"boolean","description":"True when a workspace this account belongs to requires two-step verification, so it cannot be turned off."}},"required":["enabled","confirmed_at","recovery_codes_remaining","recovery_regeneration_required","required_by_workspace"]},"MfaRecoveryCodesResponse":{"allOf":[{"$ref":"#/components/schemas/MfaSessionResponse"},{"type":"object","properties":{"recovery_codes":{"type":"array","items":{"type":"string"},"description":"Ten single-use recovery codes. Shown once and never retrievable again."}},"required":["recovery_codes"]}]},"MfaSessionResponse":{"type":"object","properties":{"token":{"type":"string","description":"A new session token. Every other session for the account was signed out."}},"required":["token"]},"ExternalEmail":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"`user_external_emails.id`."},"email":{"type":"string","format":"email","description":"Verified or unverified email address."},"verified":{"type":"boolean","description":"True after the user clicks the verification link."},"verified_at":{"type":["string","null"],"description":"ISO-8601 verification timestamp or null."},"created_at":{"type":["string","null"],"description":"ISO-8601 creation timestamp or null."},"is_login_email":{"type":"boolean","description":"True for the row that mirrors the account's login email (read-only — cannot be removed)."}},"required":["id","email","verified","verified_at","created_at","is_login_email"]},"ExternalEmailsListResponse":{"type":"object","properties":{"emails":{"type":"array","items":{"$ref":"#/components/schemas/ExternalEmail"}}},"required":["emails"]},"NotificationPreferences":{"type":"object","properties":{"email_on_comment_added":{"type":"boolean","description":"Send transactional email when someone comments on a doc/task/etc. owned by this user. Default: true."},"email_on_mention":{"type":"boolean","description":"Send email when this user is @mentioned in a comment or message. Default: true."},"email_on_task_assigned":{"type":"boolean","description":"Send email when a task is assigned to this user. Default: true."},"email_on_document_shared":{"type":"boolean","description":"Send email when a document, sheet, slide, wiki page, file, or calendar is shared with this user. Default: true."},"email_on_deal_won":{"type":"boolean","description":"Send email when a deal owned by this user is marked won. Default: true."},"email_on_deal_lost":{"type":"boolean","description":"Send email when a deal owned by this user is marked lost. Default: true."},"sound_on_new_notification":{"type":"boolean","description":"Client-only UX cue. Play a chime when a new notification arrives in this browser tab. Default: false."},"browser_push_on_new_notification":{"type":"boolean","description":"Client-only UX cue. Show an OS-level browser push notification. Default: false."},"tab_title_unread_count":{"type":"boolean","description":"Client-only UX cue. Update the tab title with `(N) Ambiguous` when the tab has unread notifications. Default: false."}},"required":["email_on_comment_added","email_on_mention","email_on_task_assigned","email_on_document_shared","email_on_deal_won","email_on_deal_lost","sound_on_new_notification","browser_push_on_new_notification","tab_title_unread_count"],"description":"Per-user email + arrival-cue gating. Email keys default true (fail-open); arrival cues default false. Per-event browser push lives in the unified notification-settings surface (GET/PUT /api/users/:id/notifications)."},"NotificationPreferencesResponse":{"type":"object","properties":{"preferences":{"$ref":"#/components/schemas/NotificationPreferences"}},"required":["preferences"]},"Document":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string","description":"`doc`, `sheet`, or `slide`."},"title":{"type":"string"},"owner_id":{"type":["string","null"],"format":"uuid"},"owner_username":{"type":["string","null"],"description":"Owner's username (slug-form). Populated for both human and agent owners; null only when owner row has no username."},"content":{"type":["string","null"],"description":"Authoring format. Docs use ProseMirror JSON; sheets/slides use JSON canvas. May be null on freshly-created entities."},"visibility":{"type":"string"},"link_expires_at":{"type":["string","null"]},"has_password":{"type":"boolean"},"link_permission":{"type":"string","enum":["viewer","commenter","editor"]},"can_edit":{"type":"boolean"},"created_at":{"type":["string","null"]},"updated_at":{"type":["string","null"]},"trashed_at":{"type":["string","null"]},"pinned_at":{"type":["string","null"]},"starred_at":{"type":["string","null"]},"parent_folder_id":{"type":["string","null"]},"labels":{"type":"array","items":{"type":"string"}},"page_style":{"$ref":"#/components/schemas/PageStyle"},"owner":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"display_name":{"type":"string"},"primary_email":{"type":["string","null"]},"workspace_email":{"type":["string","null"],"description":"Computed in-workspace address (`<username>@<default-workspace-domain>`). A verified custom domain is used only after an Admin selects it as the workspace default."},"username":{"type":["string","null"]},"avatar_url":{"type":["string","null"],"description":"Profile avatar URL. Null when none is set."},"type":{"type":"string","enum":["human","agent"],"description":"Owner principal type. Always present on document envelopes; absent on comment author refs."},"support":{"type":"boolean","description":"Server-derived: true when the author is an active Ambiguous Support session (a time-boxed membership). Never client-writable."}},"required":["id","display_name","primary_email","username"]}},"required":["id","type","title","owner_id","owner_username","content","visibility","link_expires_at","has_password","link_permission","created_at","updated_at","pinned_at","starred_at","labels","page_style","owner"]},"PageStyle":{"type":"object","properties":{"margins":{"type":"object","properties":{"top":{"type":"number"},"bottom":{"type":"number"},"left":{"type":"number"},"right":{"type":"number"},"header":{"type":"number"},"footer":{"type":"number"}}},"pageSize":{"anyOf":[{"type":"object","properties":{"width":{"type":"number"},"height":{"type":"number"}},"required":["width","height"]},{"type":"string","enum":["letter","A4","legal"]}]},"orientation":{"type":"string","enum":["portrait","landscape"]},"pageless":{"description":"Pageless (continuous) layout toggle."},"backgroundColor":{"description":"Canvas background: `default`/`white`/`dark` preset or 6-digit hex."}}},"DocumentListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Document"}},"total":{"type":"integer","minimum":0,"description":"Rows in `data`. Not a count of every matching document — the list path runs no count query."},"has_more":{"type":"boolean"},"next_cursor":{"type":"string","description":"Opaque cursor for the next page. Present only when `has_more` is true."}},"required":["data","total","has_more"]},"DocumentEnvelope":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string","description":"`doc`, `sheet`, or `slide`."},"title":{"type":"string"},"owner_id":{"type":["string","null"],"format":"uuid"},"owner_username":{"type":["string","null"],"description":"Owner's username (slug-form). Populated for both human and agent owners; null only when owner row has no username."},"content":{"type":["string","null"],"description":"Authoring format. Docs use ProseMirror JSON; sheets/slides use JSON canvas. May be null on freshly-created entities."},"visibility":{"type":"string"},"link_expires_at":{"type":["string","null"]},"has_password":{"type":"boolean"},"link_permission":{"type":"string","enum":["viewer","commenter","editor"]},"can_edit":{"type":"boolean"},"created_at":{"type":["string","null"]},"updated_at":{"type":["string","null"]},"trashed_at":{"type":["string","null"]},"pinned_at":{"type":["string","null"]},"starred_at":{"type":["string","null"]},"parent_folder_id":{"type":["string","null"]},"labels":{"type":"array","items":{"type":"string"}},"page_style":{"$ref":"#/components/schemas/PageStyle"},"owner":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"display_name":{"type":"string"},"primary_email":{"type":["string","null"]},"workspace_email":{"type":["string","null"],"description":"Computed in-workspace address (`<username>@<default-workspace-domain>`). A verified custom domain is used only after an Admin selects it as the workspace default."},"username":{"type":["string","null"]},"avatar_url":{"type":["string","null"],"description":"Profile avatar URL. Null when none is set."},"type":{"type":"string","enum":["human","agent"],"description":"Owner principal type. Always present on document envelopes; absent on comment author refs."},"support":{"type":"boolean","description":"Server-derived: true when the author is an active Ambiguous Support session (a time-boxed membership). Never client-writable."}},"required":["id","display_name","primary_email","username"]},"import_warnings":{"type":"array","items":{"type":"string"},"description":"Content the conversion could not represent, one string per drop. A tag with no schema mapping is kept as literal text and is not a drop; this reports styling, decorative wrappers and head-only elements. Present on every `type: doc` create and update, empty when nothing was dropped. Absent for sheets and slides, and for an editor-session save, which stores no converted body."}},"required":["id","type","title","owner_id","owner_username","content","visibility","link_expires_at","has_password","link_permission","created_at","updated_at","pinned_at","starred_at","labels","page_style","owner"],"additionalProperties":{}},"CreateDocumentInput":{"type":"object","properties":{"type":{"type":"string","enum":["doc","sheet","slide"]},"title":{"type":"string"},"content":{"type":"string","description":"Document body. For type=doc, accepts Markdown (recommended) or a ProseMirror JSON string. HTML is tolerated best-effort: a tag the editor schema maps becomes its node or mark, so `<b>x</b>` stores `x` in bold. A tag it does not map is kept as literal text, attributes and closing tag verbatim, so `<display-slug>` survives a round trip. Styling and decorative wrappers are still dropped and are listed in `import_warnings` on the response. For type=sheet/slide, see the respective module's authoring format. To insert a native smart chip (the live-status chip the editor inserts), write `@{task:<task-uuid>}` in Markdown; `doc`, `sheet`, `slide`, `canvas` and `wiki_page` ids work the same way, and the chip takes the entity's title when you can read it. Wrap a token in backticks to keep it as text."},"visibility":{"type":"string"},"labels":{"type":"array","items":{"type":"string"}},"page_style":{"type":"object","properties":{"margins":{"type":"object","properties":{"top":{"type":"number"},"bottom":{"type":"number"},"left":{"type":"number"},"right":{"type":"number"},"header":{"type":"number"},"footer":{"type":"number"}},"additionalProperties":false},"pageSize":{"anyOf":[{"type":"object","properties":{"width":{"type":"number"},"height":{"type":"number"}},"required":["width","height"],"additionalProperties":false},{"type":"string","enum":["letter","A4","legal"]}]},"orientation":{"type":"string","enum":["portrait","landscape"]},"pageless":{"description":"Pageless (continuous) layout toggle."},"backgroundColor":{"description":"Canvas background: `default`/`white`/`dark` preset or 6-digit hex."}},"additionalProperties":false}},"required":["type"],"additionalProperties":false},"DocumentDictionaryResponse":{"type":"object","properties":{"entries":{"type":"array","items":{}}},"required":["entries"]},"SharedWithMeDocument":{"allOf":[{"$ref":"#/components/schemas/Document"},{"type":"object","properties":{"workspace":{"$ref":"#/components/schemas/SharedWithMeWorkspace"},"role":{"type":"string","enum":["viewer","commenter","editor","owner"],"description":"The role the grant carries for the caller on this document."}},"required":["workspace","role"]}]},"SharedWithMeWorkspace":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"slug":{"type":["string","null"]}},"required":["id","name","slug"],"description":"The workspace that shared this document. Not the caller's own workspace when the grant is external."},"DocumentsSharedWithMeResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/SharedWithMeDocument"}},"total":{"type":"integer","minimum":0},"has_more":{"type":"boolean"},"limit":{"type":"integer"},"offset":{"type":"integer"}},"required":["data","total","has_more"]},"DocumentId":{"type":"string","format":"uuid"},"DeletedResponse":{"type":"object","properties":{"deleted":{"type":"boolean","enum":[true]}},"required":["deleted"]},"DocumentExportInput":{"type":"object","properties":{"format":{"type":"string"},"layoutOptions":{"type":"object","properties":{"pageNumbers":{"type":"boolean"},"headerTitle":{"type":"boolean"},"footerDate":{"type":"boolean"}},"additionalProperties":false},"chartImages":{"type":"array","items":{"type":"object","properties":{"base64":{"type":"string"},"sheetIndex":{"type":"number"},"col":{"type":"number"},"row":{"type":"number"},"width":{"type":"number"},"height":{"type":"number"}},"required":["base64","sheetIndex","col","row","width","height"],"additionalProperties":false}}},"additionalProperties":false},"UpdateDocumentInput":{"type":"object","properties":{"title":{"type":"string"},"content":{"type":"string","description":"Replacement document body. For type=doc, accepts Markdown (recommended) or a ProseMirror JSON string. HTML is tolerated best-effort: a mapped tag becomes its node or mark, an unmapped tag is kept as literal text, and styling and decorative wrappers are dropped and listed in `import_warnings` on the response. To insert a native smart chip (the live-status chip the editor inserts), write `@{task:<task-uuid>}` in Markdown; `doc`, `sheet`, `slide`, `canvas` and `wiki_page` ids work the same way, and the chip takes the entity's title when you can read it. Wrap a token in backticks to keep it as text. Mutually exclusive with `operations`."},"labels":{"type":"array","items":{"type":"string"}},"page_style":{"type":"object","properties":{"margins":{"type":"object","properties":{"top":{"type":"number"},"bottom":{"type":"number"},"left":{"type":"number"},"right":{"type":"number"},"header":{"type":"number"},"footer":{"type":"number"}},"additionalProperties":false},"pageSize":{"anyOf":[{"type":"object","properties":{"width":{"type":"number"},"height":{"type":"number"}},"required":["width","height"],"additionalProperties":false},{"type":"string","enum":["letter","A4","legal"]}]},"orientation":{"type":"string","enum":["portrait","landscape"]},"pageless":{"description":"Pageless (continuous) layout toggle."},"backgroundColor":{"description":"Canvas background: `default`/`white`/`dark` preset or 6-digit hex."}},"additionalProperties":false},"suggesting":{"type":"boolean","description":"Commenter-relaxed write: content changes must carry track-change marks (auto-wrapped for agents)."},"operations":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["replace","insert_after"]},"blockId":{"type":"string"},"content":{"type":"string"}},"required":["type","blockId","content"],"additionalProperties":false},"description":"Block-id-targeted edits as an alternative to `content` replacement. `content` field on each op is Markdown that is converted to PM JSON and applied at the matched blockId; `@{task:<task-uuid>}` becomes a native smart chip."}},"additionalProperties":false},"PinInput":{"type":"object","properties":{"pinned":{"type":"boolean"}},"required":["pinned"],"additionalProperties":false},"StarInput":{"type":"object","properties":{"starred":{"type":"boolean","description":"Omit to toggle the current state."}},"additionalProperties":false},"HeadersFootersResponse":{"type":"object","properties":{"default_header":{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."},"first_page_header":{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."},"even_page_header":{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."},"default_footer":{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."},"first_page_footer":{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."},"even_page_footer":{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."}}},"HeadersFootersInput":{"type":"object","properties":{"default_header":{"anyOf":[{"type":"string"},{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."},{"type":"null"}]},"first_page_header":{"anyOf":[{"type":"string"},{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."},{"type":"null"}]},"even_page_header":{"anyOf":[{"type":"string"},{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."},{"type":"null"}]},"default_footer":{"anyOf":[{"type":"string"},{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."},{"type":"null"}]},"first_page_footer":{"anyOf":[{"type":"string"},{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."},{"type":"null"}]},"even_page_footer":{"anyOf":[{"type":"string"},{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."},{"type":"null"}]}},"additionalProperties":false},"Footnote":{"type":"object","properties":{"footnoteId":{"type":"string"},"content":{"type":"array","items":{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."}},"refs":{"type":"array","items":{"type":"object","properties":{"nodeIndex":{"type":"integer"},"inlineIndex":{"type":"integer"}},"required":["nodeIndex","inlineIndex"]}}},"required":["footnoteId","content","refs"]},"FootnotesResponse":{"type":"object","properties":{"footnotes":{"type":"array","items":{"$ref":"#/components/schemas/Footnote"}}},"required":["footnotes"]},"FootnotesInput":{"type":"object","properties":{"footnotes":{"type":"array","items":{"type":"object","properties":{"footnoteId":{"type":"string"},"content":{"type":"array","items":{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."}},"text":{"type":"string"}},"required":["footnoteId"],"additionalProperties":false}}},"required":["footnotes"],"additionalProperties":false},"PageStyleResponse":{"type":"object","properties":{"page_style":{"$ref":"#/components/schemas/PageStyle"}},"required":["page_style"]},"PageStyleInput":{"type":"object","properties":{"page_style":{"type":"object","properties":{"margins":{"type":"object","properties":{"top":{"type":"number"},"bottom":{"type":"number"},"left":{"type":"number"},"right":{"type":"number"},"header":{"type":"number"},"footer":{"type":"number"}},"additionalProperties":false},"pageSize":{"anyOf":[{"type":"object","properties":{"width":{"type":"number"},"height":{"type":"number"}},"required":["width","height"],"additionalProperties":false},{"type":"string","enum":["letter","A4","legal"]}]},"orientation":{"type":"string","enum":["portrait","landscape"]},"pageless":{"description":"Pageless (continuous) layout toggle."},"backgroundColor":{"description":"Canvas background: `default`/`white`/`dark` preset or 6-digit hex."}},"additionalProperties":false}},"additionalProperties":false},"DocumentPermissionEntry":{"type":"object","properties":{"type":{"type":"string","enum":["user","team","guest"]},"user_id":{"type":["string","null"],"format":"uuid"},"team_id":{"type":["string","null"],"format":"uuid"},"guest_id":{"type":["string","null"],"format":"uuid"},"role":{"type":"string"},"display_name":{"type":["string","null"]},"primary_email":{"type":["string","null"]},"workspace_email":{"type":["string","null"],"description":"Computed in-workspace address (`<username>@<default-workspace-domain>`). A verified custom domain is used only after an Admin selects it as the workspace default."},"username":{"type":["string","null"]},"team_slug":{"type":["string","null"]},"team_name":{"type":["string","null"]},"member_count":{"type":"integer"},"guest_email":{"type":["string","null"]},"guest_name":{"type":["string","null"]},"principal_kind":{"type":"string","enum":["human","agent"]},"reason":{"type":"string","enum":["agent_manager"]}},"required":["type","role","workspace_email"],"additionalProperties":{}},"SharePendingInvite":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"role":{"type":"string"},"invite_type":{"type":"string","enum":["member","external_grant"],"description":"Which outcome the sharer picked: `member` staged a workspace invite, `external_grant` a per-resource grant."},"created_at":{"type":["string","null"]}},"required":["id","email","role","invite_type","created_at"]},"PermissionsListResponse":{"type":"object","properties":{"can_manage":{"type":"boolean","description":"Whether THIS caller may add, change or revoke a grant here right now — their rung with the owner's opt-out already applied, so a client never re-derives it."},"editors_can_share":{"type":"boolean","description":"The owner's opt-out as stored. `false` means only the owner may share."},"data":{"type":"array","items":{"$ref":"#/components/schemas/DocumentPermissionEntry"}},"total":{"type":"integer","minimum":0},"has_more":{"type":"boolean","enum":[false]},"pending":{"type":"array","items":{"$ref":"#/components/schemas/SharePendingInvite"}}},"required":["can_manage","editors_can_share","data","total","has_more","pending"]},"SetPermissionResponse":{"type":"object","properties":{"document_id":{"type":"string","format":"uuid"},"user_id":{"type":["string","null"],"format":"uuid"},"team_id":{"type":["string","null"],"format":"uuid"},"role":{"type":"string","enum":["viewer","commenter","editor","owner"]},"expires_at":{"type":["string","null"],"format":"date-time"}},"required":["document_id","role"]},"SetPermissionInput":{"type":"object","properties":{"role":{"$ref":"#/components/schemas/ShareRole"},"user_id":{"type":"string","format":"uuid"},"team_id":{"type":"string","format":"uuid"},"expires_at":{"type":["string","null"],"format":"date-time"}},"required":["role"],"additionalProperties":false},"ShareRole":{"type":"string","enum":["viewer","commenter","editor"],"description":"A grantable share role."},"UpdatePermissionInput":{"type":"object","properties":{"role":{"$ref":"#/components/schemas/ShareRole"},"expires_at":{"type":["string","null"],"format":"date-time"}},"additionalProperties":false},"ShareNotificationResponse":{"type":"object","properties":{"id":{"type":["string","null"],"format":"uuid"},"status":{"type":"string","enum":["accepted","unconfirmed"],"description":"accepted means SES acknowledged the send, not recipient delivery or inbox placement. unconfirmed means no send acknowledgment; the invitation or grant still exists. Do not automatically retry an ambiguous send."}},"required":["id","status"]},"ShareInviteResponse":{"type":"object","properties":{"notification":{"$ref":"#/components/schemas/ShareNotificationResponse"},"invite_id":{"type":["string","null"],"format":"uuid"},"pending_share_id":{"type":["string","null"],"format":"uuid"},"email":{"type":"string"},"role":{"type":"string"},"granted":{"type":"string","enum":["direct","pending"]},"user_id":{"type":"string","format":"uuid"}},"required":["invite_id","pending_share_id","email","role","granted"]},"ShareInviteInput":{"type":"object","properties":{"email":{"type":"string","format":"email"},"role":{"$ref":"#/components/schemas/ShareRole"},"invite_to_workspace":{"type":"boolean","description":"Which of the two outcomes this recipient gets. Absent or `false` is an EXTERNAL GRANT: they reach this one resource and never become a member — no seat, no member-cap slot, and no row in any member list. It binds to one of the recipient's own identities with NO accept call: live on their next authenticated request when the address already resolves to a verified identity, and on first sign-in and verification otherwise (`specs/architecture/external-collaboration.md#grant-identity-binding`). `true` is a WORKSPACE INVITE: accepting adds them as a member, so that outcome does land on acceptance. An address that is an agent's workspace email is refused `400 invite_target_is_agent` on the `true` path — an agent joins a workspace only through provisioning — while the default path grants to that agent's own identity normally."},"message":{"type":"string"},"expires_at":{"type":["string","null"],"description":"ISO 8601 deadline for the grant, or null for no expiry. Bounded by the `shareExpiryMaxDays` platform limit."}},"required":["email","role"],"additionalProperties":false},"RevokePendingShareResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]}},"required":["ok"]},"VisibilityResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"visibility":{"type":"string"},"link_expires_at":{"type":["string","null"]},"has_password":{"type":"boolean"},"link_permission":{"type":"string","enum":["viewer","commenter","editor"]},"workspace_role":{"type":["string","null"],"enum":["viewer","commenter","editor",null],"description":"The Everyone-team share role while visibility is `workspace`; null otherwise."}},"required":["id","visibility","link_expires_at","has_password","link_permission","workspace_role"]},"VisibilityInput":{"type":"object","properties":{"visibility":{"type":"string","description":"One of the values in `VALID_VISIBILITY_VALUES`. What each one grants, measured against both read routes:\n\n`restricted`: the owner and explicit shares only.\n\n`workspace`: every member of the owning workspace, at `workspace_role`. A caller outside that workspace gets 404 on both routes.\n\n`link` and `public`: identical in behaviour today. Both grant every workspace member a role, and both publish the document to two kinds of outside caller. A SIGNED-IN non-member reads it at `GET /api/documents/{id}` and holds `link_permission`. An ANONYMOUS caller reads it only at `GET /api/public/documents/{id}`.\n\n`GET /api/documents/{id}` is never anonymous. It answers 401 with no credential whatever the visibility, because auth middleware runs before any visibility check. Setting `public` does not open that route to the world, and no visibility value does.\n\nBoth outside paths carry `X-Link-Password` on a gated link. The anonymous route answers 401 `password_required` without it and accepts a retry carrying the header; the signed-in non-member sends the same header on `GET /api/documents/{id}` and is admitted at `link_permission`, or gets 404 without it. Past `link_expires_at` BOTH answer 404 — an elapsed link is indistinguishable from an id that was never shared, and never reports expiry (`agents/INTERFACES.md` Pat8).\n\nHanding a document to an agent in another workspace: if it can sign in, `public` or `link` plus `GET /api/documents/{id}` works. If it cannot, point it at `GET /api/public/documents/{id}` and leave `link_password` unset."},"linkExpiresAt":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"ISO 8601 timestamp, or null to clear."},"linkPassword":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Empty string or null clears the password; non-empty hashes + stores."},"linkPermission":{"type":"string","enum":["viewer","commenter","editor"],"description":"Permission level for a SIGNED-IN non-member reaching the document by public link. Defaults to viewer. An anonymous reader is never promoted by it: every durable act needs an attributable principal, so a write with no credential is refused 401 whatever this says (`agents/modules/IDENTITY.md` P19)."},"workspaceRole":{"type":"string","enum":["viewer","commenter","editor"],"description":"Role granted to every workspace member when visibility is `workspace`. Writes through the single Everyone-team share encoding (`agents/modules/TEAMS.md` P6) — the visibility toggle is the one control, so this is how 'everyone can edit' is expressed. Defaults to `viewer` on first switch to workspace; only applies when visibility is (or stays) `workspace`."},"editorsCanShare":{"type":"boolean","description":"The owner's opt-out. `true` (the default) lets an `editor` grant, change and revoke shares and set the tier; `false` moves every share operation back to the owner alone. Owner-only: a lower rung sending it is refused `403 editors_can_share_owner_only`."}},"additionalProperties":false},"RevokeLinkResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"visibility":{"type":"string","enum":["restricted"]},"link_expires_at":{"type":"null"},"has_password":{"type":"boolean","enum":[false]}},"required":["id","visibility","link_expires_at","has_password"]},"TransferOwnershipResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"new_owner_id":{"type":"string","format":"uuid"}},"required":["success","new_owner_id"]},"DocumentTransferOwnershipInput":{"type":"object","properties":{"new_owner_id":{"type":"string","format":"uuid"}},"required":["new_owner_id"],"additionalProperties":false},"Comment":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"document_id":{"type":"string","format":"uuid"},"parent_id":{"type":["string","null"],"format":"uuid"},"content":{"type":"string"},"anchor":{"anyOf":[{"$ref":"#/components/schemas/CommentAnchor"},{"type":"null"}]},"resolved":{"type":"boolean"},"resolved_at":{"type":["string","null"]},"resolved_by":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"display_name":{"type":"string"},"primary_email":{"type":["string","null"]},"workspace_email":{"type":["string","null"],"description":"Computed in-workspace address (`<username>@<default-workspace-domain>`). A verified custom domain is used only after an Admin selects it as the workspace default."},"username":{"type":["string","null"]},"avatar_url":{"type":["string","null"],"description":"Profile avatar URL. Null when none is set."},"type":{"type":"string","enum":["human","agent"],"description":"Owner principal type. Always present on document envelopes; absent on comment author refs."},"support":{"type":"boolean","description":"Server-derived: true when the author is an active Ambiguous Support session (a time-boxed membership). Never client-writable."}},"required":["id","display_name","primary_email","username"]},"created_at":{"type":["string","null"]},"updated_at":{"type":["string","null"]},"author":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"display_name":{"type":"string"},"primary_email":{"type":["string","null"]},"workspace_email":{"type":["string","null"],"description":"Computed in-workspace address (`<username>@<default-workspace-domain>`). A verified custom domain is used only after an Admin selects it as the workspace default."},"username":{"type":["string","null"]},"avatar_url":{"type":["string","null"],"description":"Profile avatar URL. Null when none is set."},"type":{"type":"string","enum":["human","agent"],"description":"Owner principal type. Always present on document envelopes; absent on comment author refs."},"support":{"type":"boolean","description":"Server-derived: true when the author is an active Ambiguous Support session (a time-boxed membership). Never client-writable."}},"required":["id","display_name","primary_email","username"]},"reactions":{"type":"array","items":{"$ref":"#/components/schemas/CommentReaction"}},"replies":{"type":"array","items":{"$ref":"#/components/schemas/Comment"}}},"required":["id","document_id","parent_id","content","anchor","resolved","resolved_at","resolved_by","created_at","updated_at","author","reactions","replies"]},"CommentAnchor":{"type":"object","properties":{"nodeId":{"type":["string","null"]},"nodeIndex":{"type":["integer","null"]},"inlineIndex":{"type":["integer","null"]},"offset":{"type":["integer","null"]}},"additionalProperties":{}},"CommentReaction":{"type":"object","properties":{"emoji":{"type":"string"},"users":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"display_name":{"type":"string"},"avatar_url":{"type":["string","null"]}},"required":["id","display_name"]}}},"required":["emoji","users"]},"CommentsListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Comment"}},"total":{"type":"integer","minimum":0},"has_more":{"type":"boolean","enum":[false]},"unread_count":{"type":"integer","minimum":0}},"required":["data","total","has_more","unread_count"]},"MarkReadResponse":{"type":"object","properties":{"last_read_at":{"type":"string"},"unread_count":{"type":"number","enum":[0]}},"required":["last_read_at","unread_count"]},"CreateCommentInput":{"type":"object","properties":{"content":{"type":"string","minLength":1},"parent_id":{"type":"string","format":"uuid"},"idempotency_key":{"type":"string","maxLength":255},"anchor":{"type":"object","additionalProperties":{}}},"required":["content"],"additionalProperties":false},"UpdateCommentInput":{"type":"object","properties":{"resolved":{"type":"boolean"},"content":{"type":"string","minLength":1,"maxLength":10000}},"additionalProperties":false},"CommentReactionsResponse":{"type":"object","properties":{"reactions":{"type":"array","items":{"$ref":"#/components/schemas/CommentReaction"}}},"required":["reactions"]},"CommentReactionInput":{"type":"object","properties":{"emoji":{"type":"string","minLength":1}},"required":["emoji"],"additionalProperties":false},"DocumentVersionListItem":{"allOf":[{"$ref":"#/components/schemas/DocumentVersion"},{"type":"object","properties":{"author_ids":{"type":"array","items":{"type":"string","format":"uuid"}}},"required":["author_ids"]}]},"DocumentVersion":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":["string","null"]},"user_id":{"type":["string","null"],"format":"uuid"},"user_name":{"type":["string","null"]},"created_at":{"type":["string","null"]}},"required":["id","title","user_id","user_name","created_at"]},"VersionsListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/DocumentVersionListItem"}},"total":{"type":"integer","minimum":0},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["data","total","has_more"]},"CreateVersionInput":{"type":"object","properties":{"title":{"type":"string"}},"additionalProperties":false},"VersionAttribution":{"type":"object","properties":{"v":{"type":"number","enum":[1]},"basis":{"type":"string","enum":["collab-window","single-author"]},"authors":{"type":"array","items":{"$ref":"#/components/schemas/VersionAttributionAuthor"}}},"required":["v","basis","authors"]},"VersionAttributionAuthor":{"type":"object","properties":{"user_id":{"type":["string","null"],"format":"uuid"},"ranges":{"type":"array","items":{"type":"array","items":{"type":"integer"},"minItems":2,"maxItems":2}}},"required":["user_id","ranges"]},"VersionDetail":{"allOf":[{"$ref":"#/components/schemas/DocumentVersion"},{"type":"object","properties":{"content":{"type":["string","null"]},"attribution":{"anyOf":[{"$ref":"#/components/schemas/VersionAttribution"},{"type":"null"}]}},"required":["content","attribution"]}]},"UpdateVersionInput":{"type":"object","properties":{"title":{"type":"string"}},"additionalProperties":false},"NamedRangeAnchor":{"type":"object","properties":{"startNodeId":{"type":["string","null"]},"startOffset":{"type":["integer","null"]},"endNodeId":{"type":["string","null"]},"endOffset":{"type":["integer","null"]}},"required":["startNodeId","startOffset","endNodeId","endOffset"]},"DocumentNamedRange":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"range":{"$ref":"#/components/schemas/NamedRangeAnchor"},"startNodeId":{"type":["string","null"]},"startOffset":{"type":["integer","null"]},"endNodeId":{"type":["string","null"]},"endOffset":{"type":["integer","null"]}},"required":["id","name"]},"CreateNamedRangeInput":{"type":"object","properties":{"name":{"type":"string","maxLength":255},"start_node_id":{"type":["string","null"]},"start_offset":{"type":["integer","null"]},"end_node_id":{"type":["string","null"]},"end_offset":{"type":["integer","null"]}},"required":["name"],"additionalProperties":false},"DocumentNamedRangesListResponse":{"type":"object","properties":{"namedRanges":{"type":"array","items":{"$ref":"#/components/schemas/DocumentNamedRange"}}},"required":["namedRanges"]},"ReplaceNamedRangeResponse":{"type":"object","properties":{"replaced":{"type":"boolean","enum":[true]},"name":{"type":"string"},"nodesInserted":{"type":"integer","minimum":0},"range":{"$ref":"#/components/schemas/NamedRangeAnchor"}},"required":["replaced","name","nodesInserted","range"]},"ReplaceNamedRangeInput":{"type":"object","properties":{"content":{"anyOf":[{"type":"string"},{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."},{"type":"array","items":{"description":"ProseMirror node tree. Schema enforced server-side by `@ambiguous/document-formats`."}},{"type":"null"}],"description":"Markdown string OR ProseMirror node / node array. Server normalizes to PM JSON."}},"additionalProperties":false},"InsertPageBreakResponse":{"type":"object","properties":{"inserted":{"type":"boolean","enum":[true]},"node_index":{"type":"integer"}},"required":["inserted","node_index"]},"InsertPageBreakInput":{"type":"object","properties":{"after_node_index":{"type":"integer"}},"additionalProperties":false},"InsertSectionBreakResponse":{"type":"object","properties":{"inserted":{"type":"boolean","enum":[true]},"node_index":{"type":"integer"}},"required":["inserted","node_index"]},"InsertSectionBreakInput":{"type":"object","properties":{"section_type":{"type":"string","enum":["continuous","next_page"]},"after_node_index":{"type":"integer"}},"additionalProperties":false},"InsertPageNumberResponse":{"type":"object","properties":{"inserted":{"type":"boolean","enum":[true]},"node_index":{"type":"integer"}},"required":["inserted","node_index"]},"InsertPageNumberInput":{"type":"object","properties":{"node_index":{"type":"integer"}},"additionalProperties":false},"SetPinnedHeaderRowsResponse":{"type":"object","properties":{"updated":{"type":"boolean","enum":[true]},"table_node_index":{"type":"integer"},"pinned_header_rows":{"type":"integer"}},"required":["updated","table_node_index","pinned_header_rows"]},"SetPinnedHeaderRowsInput":{"type":"object","properties":{"table_node_index":{"type":"integer","description":"Top-level content index of the target table."},"pinned_header_rows":{"type":"integer","minimum":0,"description":"Number of header rows to pin. Set to 0 to clear."}},"required":["table_node_index","pinned_header_rows"],"additionalProperties":false},"Channel":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"type":{"$ref":"#/components/schemas/ChannelType"},"preset":{"$ref":"#/components/schemas/ChannelPreset"},"description":{"type":["string","null"]},"creator_id":{"type":["string","null"],"format":"uuid"},"creator":{"anyOf":[{"$ref":"#/components/schemas/ChannelCreator"},{"type":"null"}]},"archived_at":{"type":["string","null"]},"archived_by":{"type":["string","null"],"format":"uuid"},"muted_until":{"type":["string","null"],"description":"Per-viewer mute instant. Year-9999 is the indefinite-mute sentinel."},"created_at":{"type":["string","null"]},"updated_at":{"type":["string","null"]},"member_count":{"type":"integer"},"unread_count":{"type":"integer"},"unread_display":{"$ref":"#/components/schemas/UnreadDisplay"},"last_read_at":{"type":["string","null"]},"notification_preference":{"type":["string","null"],"enum":["unread_only","all_messages","mentions_only","nothing",null]},"starred":{"type":"boolean"},"members":{"type":"array","items":{"$ref":"#/components/schemas/ChannelRosterEntry"},"description":"Peer roster, attached to DM rows only so the client can derive a DM name."}},"required":["id","name","type","preset","description","creator_id","creator","archived_at","archived_by","muted_until","created_at","updated_at","member_count","unread_count","unread_display","last_read_at","notification_preference","starred"]},"ChannelType":{"type":"string","enum":["public","private","dm"],"description":"`public` — workspace-wide. `private` — invite-only. `dm` — 1:1 or small-group direct message."},"ChannelPreset":{"type":"string","enum":["conversation","notification"],"description":"Default notification behavior for new members, independent of channel visibility."},"ChannelCreator":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"display_name":{"type":"string"},"primary_email":{"type":["string","null"]}},"required":["id","display_name","primary_email"]},"UnreadDisplay":{"type":"string","enum":["count","dot","since_visit"],"description":"How a channel row renders its unread state for one viewer."},"ChannelRosterEntry":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"display_name":{"type":"string"},"primary_email":{"type":["string","null"]},"avatar_url":{"type":["string","null"]}},"required":["id","display_name","primary_email","avatar_url"]},"ChannelsListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Channel"}},"total":{"type":"integer","minimum":0},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"},"limit":{"type":"integer","exclusiveMinimum":0},"offset":{"type":"integer","minimum":0}},"required":["data","total","has_more"]},"PublicChannelSummary":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"type":{"type":"string","enum":["public"]},"description":{"type":["string","null"]},"member_count":{"type":"integer"},"joined":{"type":"boolean","description":"True when the caller is already a member — the Browse list shows Open rather than Join."},"created_at":{"type":["string","null"]},"updated_at":{"type":["string","null"]}},"required":["id","name","type","description","member_count","joined","created_at","updated_at"]},"ChannelsBrowseResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/PublicChannelSummary"}},"total":{"type":"integer","minimum":0},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"},"limit":{"type":"integer","exclusiveMinimum":0},"offset":{"type":"integer","minimum":0}},"required":["data","total","has_more"]},"ChannelMutationResponse":{"allOf":[{"$ref":"#/components/schemas/Channel"},{"type":"object","properties":{"channel":{"allOf":[{"$ref":"#/components/schemas/Channel"},{"description":"Legacy alias — same as the top-level fields."}]}}}]},"ChannelCreateInput":{"type":"object","properties":{"name":{"type":"string"},"type":{"$ref":"#/components/schemas/ChannelType"},"preset":{"$ref":"#/components/schemas/ChannelPreset"},"description":{"type":"string"},"member_ids":{"type":"array","items":{"type":"string","format":"uuid"}},"user_ids":{"type":"array","items":{"type":"string","format":"uuid"},"description":"Legacy alias for `member_ids`."}},"required":["type"],"additionalProperties":false},"ChatSuccessResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]}},"required":["success"]},"ChannelLastMessage":{"type":"object","properties":{"channel_id":{"type":"string","format":"uuid"},"content":{"type":"string"},"created_at":{"type":["string","null"]},"user_id":{"type":["string","null"],"format":"uuid"},"user_name":{"type":["string","null"]}},"required":["channel_id","content","created_at","user_id","user_name"]},"ChannelLastMessagesResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ChannelLastMessage"}}},"required":["data"]},"ChannelSearchHit":{"allOf":[{"$ref":"#/components/schemas/ChannelMessage"},{"type":"object","properties":{"channel_name":{"type":["string","null"]},"channel_type":{"$ref":"#/components/schemas/ChannelType"},"excerpt":{"type":"string"}},"required":["channel_name","channel_type"]}]},"MessageAuthor":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"display_name":{"type":"string"},"primary_email":{"type":["string","null"]},"avatar_url":{"type":["string","null"]},"type":{"type":"string","enum":["human","agent"],"description":"`agent` marks a coworker author."}},"required":["id","display_name","primary_email","avatar_url","type"],"description":"The message's author. `type` distinguishes a human from a coworker agent. Null on a message whose author row is gone (deleted member)."},"MessageScheduledStatus":{"type":"string","enum":["pending","sent","cancelled"],"description":"Lifecycle state of a message that was scheduled rather than sent immediately."},"Reaction":{"type":"object","properties":{"emoji":{"type":"string"},"user_ids":{"type":"array","items":{"type":"string","format":"uuid"},"description":"Every user who reacted with this emoji. One row per emoji, not per reactor."}},"required":["emoji","user_ids"]},"ChannelMessage":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"channel_id":{"type":"string","format":"uuid"},"thread_id":{"type":["string","null"],"format":"uuid"},"thread_key":{"type":["string","null"]},"content":{"type":"string"},"author":{"anyOf":[{"$ref":"#/components/schemas/MessageAuthor"},{"type":"null"}]},"edited_at":{"type":["string","null"]},"deleted_at":{"type":["string","null"]},"pinned_at":{"type":["string","null"]},"pinned_by":{"type":["string","null"],"format":"uuid"},"scheduled_at":{"type":["string","null"]},"scheduled_status":{"anyOf":[{"$ref":"#/components/schemas/MessageScheduledStatus"},{"type":"null"}]},"reactions":{"type":"array","items":{"$ref":"#/components/schemas/Reaction"}},"reply_count":{"type":"integer"},"unread_reply_count":{"type":"integer"},"last_reply_at":{"type":["string","null"]},"latest_repliers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"display_name":{"type":"string"},"avatar_url":{"type":["string","null"]}},"required":["id","display_name","avatar_url"]}},"is_broadcast":{"type":"boolean","description":"True when this reply was broadcast to its channel (amber-tinted in the Threads inbox)."},"starts_new_block":{"type":"boolean","description":"Author override: this row renders its own header even when author + timestamp would otherwise group it under the previous message."},"reshared_at":{"type":["string","null"],"description":"Non-null only on a broadcast pointer minted after the fact (late reshare); drives the header '(reshared)' suffix. NULL on a compose-time pointer and every other row."},"created_at":{"type":["string","null"]},"updated_at":{"type":["string","null"]}},"required":["id","channel_id","thread_id","thread_key","content","author","edited_at","deleted_at","pinned_at","pinned_by","scheduled_at","scheduled_status","reactions","reply_count","unread_reply_count","last_reply_at","latest_repliers","is_broadcast","starts_new_block","reshared_at","created_at","updated_at"]},"ChannelSearchResultsResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ChannelSearchHit"}},"total":{"type":"integer","minimum":0},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"},"limit":{"type":"integer","exclusiveMinimum":0},"offset":{"type":"integer","minimum":0}},"required":["data","total","has_more"]},"ThreadActivityItem":{"allOf":[{"$ref":"#/components/schemas/ChannelMessage"},{"type":"object","properties":{"last_reply_at":{"type":"string","description":"Overrides ChannelMessage's nullable form — a threads-inbox row exists because a reply exists, so the handler always sends it."},"channel_name":{"type":["string","null"]},"channel_type":{"$ref":"#/components/schemas/ChannelType"},"last_reply_author":{"type":["string","null"],"description":"Display name of whoever posted the newest reply."},"involvement":{"type":"string","enum":["started","replied","mentioned"]},"recent_replies":{"type":"array","items":{"$ref":"#/components/schemas/ChannelMessage"},"description":"Newest replies, already formatted — the inbox row's preview stack."}},"required":["channel_name","channel_type","last_reply_author"]}]},"ThreadActivityResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ThreadActivityItem"}},"total":{"type":"integer","minimum":0},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"},"limit":{"type":"integer","exclusiveMinimum":0},"offset":{"type":"integer","minimum":0}},"required":["data","total","has_more"]},"SavedMessagesListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ChannelMessage"}},"total":{"type":"integer","minimum":0},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"},"limit":{"type":"integer","exclusiveMinimum":0},"offset":{"type":"integer","minimum":0}},"required":["data","total","has_more"]},"ScheduledMessage":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"channel_id":{"type":"string","format":"uuid"},"user_id":{"type":"string","format":"uuid"},"content":{"type":"string"},"scheduled_at":{"type":"string"},"status":{"$ref":"#/components/schemas/MessageScheduleStatus"},"sent_message_id":{"type":["string","null"],"format":"uuid"},"created_at":{"type":["string","null"]}},"required":["id","channel_id","user_id","content","scheduled_at","status","created_at"]},"MessageScheduleStatus":{"type":"string","enum":["scheduled","sent","cancelled"],"description":"Lifecycle state of a scheduled message."},"ScheduledMessagesListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ScheduledMessage"}},"total":{"type":"integer","minimum":0},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"},"limit":{"type":"integer","exclusiveMinimum":0},"offset":{"type":"integer","minimum":0}},"required":["data","total","has_more"]},"ScheduledMessageResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"channel_id":{"type":"string","format":"uuid"},"user_id":{"type":"string","format":"uuid"},"content":{"type":"string"},"scheduled_at":{"type":"string"},"status":{"$ref":"#/components/schemas/MessageScheduleStatus"},"sent_message_id":{"type":["string","null"],"format":"uuid"},"created_at":{"type":["string","null"]}},"required":["id","channel_id","user_id","content","scheduled_at","status","created_at"]},"MessageId":{"type":"string","format":"uuid"},"ScheduledMessageUpdateInput":{"type":"object","properties":{"content":{"type":"string","minLength":1},"scheduled_at":{"type":"string"}},"additionalProperties":false},"CustomEmoji":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"imageUrl":{"type":"string"},"creatorId":{"type":["string","null"],"format":"uuid"},"creatorName":{"type":["string","null"]},"createdAt":{"type":["string","null"]}},"required":["id","name","imageUrl","creatorId","creatorName","createdAt"]},"CustomEmojisListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CustomEmoji"}},"total":{"type":"integer","minimum":0},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"},"limit":{"type":"integer","exclusiveMinimum":0},"offset":{"type":"integer","minimum":0}},"required":["data","total","has_more"]},"CustomEmojiResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"imageUrl":{"type":"string"},"creatorId":{"type":["string","null"],"format":"uuid"},"creatorName":{"type":["string","null"]},"createdAt":{"type":["string","null"]}},"required":["id","name","imageUrl","creatorId","creatorName","createdAt"]},"ChatEmojiCreateInput":{"type":"object","properties":{"image":{"type":"string","format":"binary","description":"The emoji image (multipart `image` field — not `file`)."},"name":{"type":"string","description":"The shortcode, without colons: 2-32 characters of a-z, 0-9, `-` or `_`. Whitespace becomes `_` and the name is lowercased."}},"required":["name"],"additionalProperties":false},"EmojiFetchUrlInput":{"type":"object","properties":{"url":{"type":"string","format":"uri"}},"required":["url"],"additionalProperties":false},"UnfurlResponse":{"type":"object","properties":{"url":{"type":"string"},"title":{"type":["string","null"]},"description":{"type":["string","null"]},"imageUrl":{"type":["string","null"]},"siteName":{"type":["string","null"]},"faviconUrl":{"type":["string","null"]},"imageWidth":{"type":["number","null"]},"imageHeight":{"type":["number","null"]}},"required":["url","title","description","imageUrl","siteName","faviconUrl","imageWidth","imageHeight"]},"UnfurlInput":{"type":"object","properties":{"url":{"type":"string","format":"uri"}},"required":["url"],"additionalProperties":false},"UserStatusResponse":{"type":"object","properties":{"userId":{"type":"string","format":"uuid"},"statusEmoji":{"type":["string","null"]},"statusText":{"type":["string","null"]},"statusExpiresAt":{"type":["string","null"],"description":"ISO timestamp when the status auto-clears; null when no expiry."},"dndUntil":{"type":["string","null"],"description":"ISO timestamp when Do-Not-Disturb auto-clears; null when not in DND."}},"required":["userId","statusEmoji","statusText","statusExpiresAt","dndUntil"]},"StatusSetInput":{"type":"object","properties":{"text":{"type":"string"},"emoji":{"type":"string"},"expires_at":{"type":["string","null"]}},"additionalProperties":false},"DndSetInput":{"type":"object","properties":{"until":{"type":["string","null"]}},"required":["until"],"additionalProperties":false},"UserStatus":{"type":"object","properties":{"userId":{"type":"string","format":"uuid"},"statusEmoji":{"type":["string","null"]},"statusText":{"type":["string","null"]},"statusExpiresAt":{"type":["string","null"],"description":"ISO timestamp when the status auto-clears; null when no expiry."},"dndUntil":{"type":["string","null"],"description":"ISO timestamp when Do-Not-Disturb auto-clears; null when not in DND."}},"required":["userId","statusEmoji","statusText","statusExpiresAt","dndUntil"]},"StatusesListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/UserStatus"}},"total":{"type":"integer","minimum":0},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"},"limit":{"type":"integer","exclusiveMinimum":0},"offset":{"type":"integer","minimum":0}},"required":["data","total","has_more"]},"ChatKeywordsListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}},"total":{"type":"integer","minimum":0},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"},"limit":{"type":"integer","exclusiveMinimum":0},"offset":{"type":"integer","minimum":0}},"required":["data","total","has_more"]},"ChatKeywordsResponse":{"type":"object","properties":{"keywords":{"type":"array","items":{"type":"string"}}},"required":["keywords"]},"KeywordsSetInput":{"type":"object","properties":{"keywords":{"type":"array","items":{"type":"string"}}},"required":["keywords"],"additionalProperties":false},"ChannelResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"type":{"$ref":"#/components/schemas/ChannelType"},"preset":{"$ref":"#/components/schemas/ChannelPreset"},"description":{"type":["string","null"]},"creator_id":{"type":["string","null"],"format":"uuid"},"creator":{"anyOf":[{"$ref":"#/components/schemas/ChannelCreator"},{"type":"null"}]},"archived_at":{"type":["string","null"]},"archived_by":{"type":["string","null"],"format":"uuid"},"muted_until":{"type":["string","null"],"description":"Per-viewer mute instant. Year-9999 is the indefinite-mute sentinel."},"created_at":{"type":["string","null"]},"updated_at":{"type":["string","null"]},"member_count":{"type":"integer"},"unread_count":{"type":"integer"},"unread_display":{"$ref":"#/components/schemas/UnreadDisplay"},"last_read_at":{"type":["string","null"]},"notification_preference":{"type":["string","null"],"enum":["unread_only","all_messages","mentions_only","nothing",null]},"starred":{"type":"boolean"},"members":{"type":"array","items":{"$ref":"#/components/schemas/ChannelRosterEntry"},"description":"Peer roster, attached to DM rows only so the client can derive a DM name."}},"required":["id","name","type","preset","description","creator_id","creator","archived_at","archived_by","muted_until","created_at","updated_at","member_count","unread_count","unread_display","last_read_at","notification_preference","starred"]},"ChannelId":{"type":"string","format":"uuid"},"ChannelMuteInput":{"type":"object","properties":{"until":{"type":["string","null"]},"duration_ms":{"type":"integer","exclusiveMinimum":0,"description":"Convenience alternative to `until` — mute for this many milliseconds from now."}},"additionalProperties":false},"ChannelNotificationPreferenceResponse":{"type":"object","properties":{"preference":{"type":"string","enum":["unread_only","all_messages","mentions_only","nothing"]}},"required":["preference"]},"ChannelNotificationPreferenceInput":{"type":"object","properties":{"preference":{"type":"string","enum":["unread_only","all_
[...]
